{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} <link rel="stylesheet" href="{% static "styles/main.css" %}"> {% endcomment %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>ToDo</title>
</head>
<style>
    body{
        background-color: cadetblue;
    }
    .completed {
        text-decoration: line-through;
    }
</style>

<body>
    {% include "navbar.html" %}
    {% block content %}
        
    {% endblock %}

    <script src="{% static "js/script.js" %}"></script>
</body>
</html>