{% extends "main.html" %} 
{% block content %}

<style>
  .home-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
  }
</style>
<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h3>Hello {{request.user.username}}, You have {{incomplete_todos}} incomplete tasks.</h3>
    </div>
  </div>
</div>
<br>

<div class="home-container">
  <div></div>

  <div class="todo-list">

    {% for todo in todos %}
    <div>
      {% comment %} {% if todo.user == request.user %} {% endcomment %}
        <form method="post" action="{% url 'home' %}">
            {% csrf_token %}
            <h4>
            <input type="hidden" name="todo_id" value="{{ todo.id }}">
            <input type="checkbox" name="completed" onchange="this.form.submit()" {% if todo.completed %}checked{% endif %}>
            <span {% if todo.completed %}class="completed"{% endif %}> <strong>{{ todo.title }}</strong></span></h4>
        </form>
        
          <a href="{% url 'delete-todo' todo.id %}" class="btn btn-danger">Delete</a>
          <a href="{% url 'update-todo' todo.id %}" class="btn btn-primary">Edit</a>
        
    </div>
    {% comment %} {% endif %} {% endcomment %}
    {% endfor %}
    

    <div>
        <br>
        <a href="{% url "add_todo" %}" class= "btn btn-secondary">Add ToDo</a>
        <a href="#" class="btn btn-success mb-3">Add Todo</a>
    </div>
  </div>
  <div></div>
</div>

{% endblock %}
